.not-found-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  font-size: 40px;
  color: #171f46;
  margin-top: 0;
}

.not-found-content {
  color: #334155;
  font-size: 18px;
  margin-top: 0;
}

.not-found-img {
  width: 250px;
}

.dark-not-found {
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .not-found-img {
    width: 150px;
  }
}
